<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82804845178-6vge7i2jmj03m9r6qqnmsbjoc1n2hmer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82804845178-6vge7i2jmj03m9r6qqnmsbjoc1n2hmer</string>
	<key>API_KEY</key>
	<string>AIzaSyDsGP7mT-gH9zjyaEMvXzQ0arAO3nlWTds</string>
	<key>GCM_SENDER_ID</key>
	<string>82804845178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>piec.piec</string>
	<key>PROJECT_ID</key>
	<string>piec-1192e</string>
	<key>STORAGE_BUCKET</key>
	<string>piec-1192e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82804845178:ios:debd0302df7c38c1</string>
	<key>DATABASE_URL</key>
	<string>https://piec-1192e.firebaseio.com</string>
</dict>
</plist>
