<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673280461397-iftarecrrumjgupp93r8emliqq2qb36e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673280461397-iftarecrrumjgupp93r8emliqq2qb36e</string>
	<key>API_KEY</key>
	<string>AIzaSyAdAWkHr7gO5HPuitePjnTcTa6H0S1y-Ow</string>
	<key>GCM_SENDER_ID</key>
	<string>673280461397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>affilio.reactjs.native</string>
	<key>PROJECT_ID</key>
	<string>affilio</string>
	<key>STORAGE_BUCKET</key>
	<string>affilio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673280461397:ios:3273a95356c74a0c</string>
	<key>DATABASE_URL</key>
	<string>https://affilio.firebaseio.com</string>
</dict>
</plist>
